#wrapper,#sub{height: 100%;}
.btn_ok{color: #fff; background-color: #2db5b1; font-size: 16px; height: 44px; line-height: 44px; text-align: center; border-radius: 6px; display: block;}
.right{float: right;}
.fc_main {color:$color1;}
.list{background-color: #fff; padding: 16px 20px;
    li{border-bottom: 1px solid #efefef;
        a{padding: 20px 20px 20px 10px; background: #fff url(../images/common/icon_arrow_m.png) no-repeat right 20px center / auto 12px; 
        }
    }
}


//intro 
.intro_wrap{position: absolute; width: 100%; height: 100%;min-height: 516px;
    padding-bottom: 60px; background: #fff;
    &:before{content: ""; width: 307px; height: 85px; background: url(../images/common/intro_bg_01.png) no-repeat center; position: absolute; top: 0; left: 0;}
    &:after{content: ""; width: 180px; height: 68px; background: url(../images/common/intro_bg_02.png) no-repeat center; position: absolute; top: 0; right: 0; z-index: 2;}
    .intro_top_box{height:100%; text-align: center; position: relative;
        &:before{content: ""; width: 306px; height: 262px; background: url(../images/common/intro_bg_04.png) no-repeat center; position: absolute; top: 30%; left: 50%; transform: translate(-50%,-50%);}
        >div{display: inline-block;}
        &:after{content: ""; display: inline-block; height: 100%; vertical-align: middle;}
        .txt_box{
            span{display: block; color: #555; font-size: 14px; margin-top: 15px;}
        }
        .img{margin-top: 88px;}
    }
    .intro_btm_area{position: absolute; width: 100%; height: 170px; bottom: 0; left: 0; background: url(../images/common/intro_bg_03.png) no-repeat center / 100% 170px; text-align: center;
        span{position: absolute; width: 100%; left: 0; bottom: 30px; font-size: 12px; color: #666;}
    }
}

//login
.login_wrap{text-align: center; background: #fff; position: absolute; width: 100%; height: 100%; top: 0; left: 0;
    .logo{ padding: 68px 0 50px 0; background: #fff;}
    .con{padding:30px 40px 60px;
        h3{font-size: 14px;}
        .social{display: inline-block; overflow: hidden; margin-top: 20px;
            &:after{content: ""; display: block; clear: both;}
            >li{float: left; margin-right: 40px;
                &:last-child{margin-right: 0;}
                a{font-size: 12px; color: #555;
                    .img{margin-bottom: 10px;}
                }
            }
        }
        .login_box{margin-top: 15px;
            button{width:100%; margin-top: 10px; background: #17bdcc; border-radius: 10px; color: #fff; font-size: 14px; font-weight: 300;}
        }
        .util{margin-top: 28px;
            &:after{content: ""; display: block; clear: both;}
            .type_list{float: left; width: 100px; margin-top: -2px;
                >li{padding: 0; margin-bottom: 0;
                    input:checked + label{color: inherit;}
                }
            }
            >a{float: right; font-size: 13px; color: #555;
                &:after{content: ""; display: inline-block; vertical-align: middle; width: 5px; height: 10px; background: url(../images/common/icon_arrow2_m.png) no-repeat center; position: relative; top: -2px; margin-left: 5px;}
            }
        }
        >a{font-size: 13px; color: #555; margin-top: 42px;
            &:after{content: ""; display: inline-block; vertical-align: middle; width: 5px; height: 10px; background: url(../images/common/icon_arrow2_m.png) no-repeat center; position: relative; top: -2px; margin-left: 5px;}
        }
    }
}

//error
.error_wrap{position: absolute; width: 100%; height: 100%; min-height:600px; background: #fff; top: 0; left: 0;
    .con{padding: 35px 20px 80px;
        &.bg1{padding: 0;
            .img{text-align: center; padding: 80px 0 110px 0; background: #e7f8fa;}
        }
        .txt_box{padding: 0 12px;
            h3{font-size: 20px; color: #17bdcc; font-weight: 500; margin-bottom: 22px;}
            p{font-size: 14px; color: #555; margin-bottom: 18px; word-break: keep-all;
                &:last-of-type{margin-bottom: 0;}
            }
        }
    }
}

//loding

.loding{background-color:rgba(0,0,0,0.8);position:fixed;left:0;top:0;bottom:0;width:100%;height:100%;z-index:10;
    >div{position: absolute; width: 180px; top: 50%; left: 50%; transform: translate(-50%,-50%); text-align: center;
        .img{margin-bottom: 20px;
            img{ animation: round360 2s linear infinite;}
        }
        h1{margin-bottom: 20px;}
        span{color: #17bdcc;}
        @keyframes round360 {
            100% {transform: rotate(360deg);}
        }
        
    }
}

//header
#header{background-color: #fff; height: 50px; padding: 0 15px;  position: relative; text-align: center;
    h1{display:inline-block;
        a{height: 50px; width: 80px; background: url(../images/common/intro_logo.png) no-repeat 0 center / 80px auto;}
    }
    h3{display: inline-block; font-size: 16px; font-weight: 500; height: 50px; line-height: 50px;}
    .back{display: inline-block; width: 45px; float: left; height: 60px; background: url(../images/back.png) no-repeat 0 center / auto 15px;}
    span{display: block; font-size: 0; line-height: 0;
        a{display: inline-block; width: 60px; height: 50px;
            &.icon_back{background: url(../images/common/btn_back.png) no-repeat left center / auto 17px; width: 20px;}
            &.icon_home{background: url(../images/common/icon_home.png) no-repeat left 8px center / auto 17px; width: 30px;} 
            &.icon_menu{background: url(../images/common/btn_menu.png) no-repeat center right / auto 14px;}
        }
    }
    h2{display: block; float: left; width: calc(100% - 100px); line-height: 60px; font-size: 20px; text-align: center;}
    .right{position: absolute; right: 20px; top: 0;}
    .left{position: absolute; left: 20px; top: 0;}
}
.menu{position: absolute; left: 100%; top: 0; bottom:0; height:100%; z-index: 20; width: calc(100% - 80px); min-height: 100%; background: #fff; display: none; border-radius: 30px 0 0 0;
    >div{background: #e7f8fa; padding: 57px 20px 20px; border-radius: 30px 0 0 0;
        h3{font-size: 14px;
            span{display: block;
                b{color: #17bdcc;}
            }
        }
        >div{font-size: 0; line-height: 0; margin-top: 10px;
            button{width: calc(50% - 5px); height: 30px; font-size: 13px; border: 1px solid #17bdcc; border-radius: 5px;
                &.setting{background: #17bdcc; color: #fff; font-weight: 200;}
                &.logout{color: #17bdcc;}
                & + button{margin-left: 10px; font-weight: 300;}
            }
        }
    }
    .attr{position: absolute; top: 18px; right: 20px;
        &:after{content: ""; display: block; clear: both;} 
        li{float: left; font-size: 0; line-height: 0;
            & ~ li{margin-left: 13px;}
        }
        a{width: 20px; height: 20px;
            &.home{background: url(../images/common/icon_home.png) no-repeat center / auto 17px;}
            &.back{background: url(../images/common/btn_close.png) no-repeat center / auto 15px;}
        }
    }
    & + div{
        &:before{content: ''; display: block; position: fixed; left: 0; top: 0; width: 100%; height: 100%; opacity: 0; transition: opacity 0.3s; z-index: -1;}
    }
    &.active{display: block;overflow-y:auto;
        & + div{
            &:before{opacity: 1; z-index: 10; background: rgba(0,0,0,0.5);}
        }
    }
}
.dep1{
    >li{margin-bottom: 15px; background: #fff; border-radius: 10px; box-shadow: 0 5px 15px rgba(0,0,0,0.1); padding: 0 20px;
        &:last-child{margin-bottom:0;}
        >a{display: flex; justify-content: space-between; align-items: center; height: 60px; position: relative; z-index: 2;
            &.dep_on{
                span{position: relative;
                    &:after{content: ""; display: inline-block; vertical-align: middle; width: 9px; height: 6px; background: url(../images/common/icon_close.png) no-repeat center; position: relative; top: -2px; margin-left: 8px;}
                }
            }
        }
        &.active{
            >a{
                &.dep_on{
                    span{
                        &:after{background-image: url(../images/common/icon_open.png);}
                    }
                }
            }
        }
        ol{display:none; margin-top: -15px; padding-bottom: 12px;
            &:after{content: ""; display: block; clear: both;}
            li{float: left; width: 50%; margin: 7px 0;
                a{color: #555; font-size: 14px; position: relative; padding-left: 10px;
                    &:before{content: ""; display: block; width: 4px; height: 4px; background: #555; border-radius: 50%; position: absolute; top: 50%; transform: translateY(-50%); left: 0;}
                }
            }
        }
    }
}
.profile{margin-bottom: 15px; background: #fff; border-radius: 10px; box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    >div{padding: 25px; text-align: center;
        .img{width: 40px; height: 40px; margin: auto;}
        h3{margin-top: 5px; margin-bottom: 8px;
            span,em{color: #17bdcc;}
            span{
                &:after{content: ""; display: inline-block; vertical-align: middle; width: 1px; height: 18px; background: #17bdcc; position: relative; top: -1px; margin: 0 10px;}
            }
        }
        span{font-size: 14px; color: #666;
            em{display: block; margin-top: 3px;}
        }
    }
    ul{border-top: 1px solid #ddd;
        &:after{content: ""; display: block; clear: both;}
        li{float: left; width: 50%; text-align: center; position: relative;
            a{height: 60px; line-height: 60px;
                span{display: inline-block; font-size: 14px;
                    &:before{content: ""; display: inline-block; vertical-align: middle; width: 18px; height: 18px; position: relative; top: -2px; margin-right: 7px;}
                }
            }
            &:first-child{
                &:after{content: ""; display: block; width: 1px; height: 20px; background: #ddd; position: absolute; top: 50%; transform: translateY(-50%); right: 0;}
                a{
                    span{
                        &:before{ background: url(../images/common/icon_dep2_13.png) no-repeat center; }
                    }
                }
            }
            &:nth-child(2){
                a{
                    span{
                        &:before{background: url(../images/common/icon_dep2_14.png) no-repeat center;}
                    }
                }
            }
        }
    }
}
//지수 좌우 정렬css
.index_area{
    .index_box{display: block;
        &:after{content: ""; display: block; clear: both;}
        >em{float: left;}
        >b{float: right;}
    }
}
.index_con{
    h3{font-size: 14px;}
    .index_area{
        .index_box{display: block; margin-top: 7px;
            >em{font-size: 0; line-height: 0;
                img{display:inline-block; vertical-align: middle; margin-right: 10px;}
                span{display:inline-block; line-height: 1.2em; vertical-align:middle; font-size: 14px; color: #999;
                    em{font-size: 24px; line-height: 1.2em; color: #000;}
                    .slash{line-height:1.2em; color: #999; padding: 0 4px;}
                }
            }
            >b{color: #999; font-size: 14px; padding-top: 8px;}
        }
        .percent_bar{height: 8px; border-radius: 4px;
            .bar{border-radius: 4px; background: #17bdcc;}
        }
        >b{display: block; text-align: center; font-size: 14px; margin-top: 12px;
            &.perfect{color: #17bdcc;}
        }
    }
}
//퍼센트 바css
.percent_bar{background-color: #cdd8dc; margin-top: 9px;
    .bar{display: block; width: 0; height: 100%; background-color: #7e919f; }
}
#wrapper{background: #e7f8fa;}
#contents{background: #fff;}
//main
#main{padding: 30px 0 0 0; background:#17bdcc; border-radius: 30px 30px 0 0; position: relative;
    .bar_wrap{text-align: center; line-height: 0; margin-bottom: 27px;
        .progress-bar{display:inline-block; position: relative; text-align: center;
            .left{position: absolute; background: white;
                width: 7px; height: 7px; border-radius: 50%; left: 0;bottom: -5px; overflow: hidden; z-index: 2;}
            .right{position: absolute; background: white;
                width: 7px; height: 7px; border-radius: 50%; right: 0px; bottom: -5px; overflow: hidden;
                .back{width: 7px; height: 7px; background: #14a1ae; position: absolute; z-index: 2;}
            }
            .barOverflow{position: relative; overflow: hidden; width: 270px; height: 135px;
                .bar{position: absolute; top: 0; left: 0; width: 270px; height: 270px; border-radius: 50%; box-sizing: border-box; border: 7px solid #14a1ae; border-bottom-color: white; border-right-color: white; transform: rotate(45deg);}
            }
            .attr{position: absolute; bottom: -40px; left: 50%; transform: translateX(-50%);
                em{color: #fff; font-size: 13px; font-weight: 200; line-height: 1.4em;
                    b{display: block; font-size: 20px; margin-top: 10px;
                        span{font-size: 28px; font-weight: 400;}
                    }
                }
                .img{margin-top: 10px;}
            }
        }
    }
      .main_wrap{ background: #e7f8fa; border-radius: 30px 30px 0 0; padding:30px 20px 20px; 
        .index_wrap{position: relative;
            ul{margin-top: -8px;
                &:after{content: ""; display: block; clear: both;}
                li{float: left; width: calc(50% - 10px); margin: 8px 20px 8px 0;
                    &:nth-child(2n){margin-right: 0;}
                    a{font-size: 0; line-height: 0;
                        .img{display: inline-block; width: 40px; vertical-align: middle; margin-right: 10px;}
                        .index_area{display: inline-block; width:calc(100% - 50px); vertical-align: middle;
                            .index_box{
                                em{font-size: 13px; line-height: 1.2em; }
                                b{font-size: 14px; line-height: 1.2em; padding-top: 0;}
                            }
                            .percent_bar{height: 4px; border-radius: 2px;
                                .bar{border-radius: 2px;}
                            }
                          
                        }
                    }
                }
            }
        }
        .tab_wrap{
            >div{display: none; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #e7f8fa;
                &.active{display: block;}
                >button{width: 15px; height: 15px; background: url(../images/main/btn_close.png) no-repeat center; position: absolute; top: 0; right: 0;}
            }
        }
        .welcome_area{margin-top: 11px; background: #fff; border-radius: 15px; padding: 25px 20px 20px; text-align: center; box-shadow: 0 5px 15px rgba(0,0,0,0.05);
            h3{font-size: 14px; font-weight: 300; color: #17bdcc; margin-bottom: 15px;}
            .img{display: inline-block; width: 100px; height: 100px; border-radius: 50%; margin-bottom: 10px;
                img{width: 100%; height: 100%; border-radius: 50%;}
            }
            span{display: block; margin-bottom: 15px; padding: 0 20px; word-break: keep-all;}
            .btn_box{
                a{height: 40px; line-height: 38px; font-weight: 200; border-radius: 5px; font-size: 14px;}
            }
        }
        >a{margin-top: 20px; padding: 13px 120px 13px 20px; background: #17bdcc url(../images/main/icon_arrow_w.png) no-repeat right 20px center; border-radius: 8px; position: relative;
            &:after{content: ""; width: 63px; height: 65px; background: url(../images/main/icon_char_02.png) no-repeat center; position: absolute; top: -7px; right: 51px; animation: updown 1s infinite;}
            @keyframes updown {
                0%{margin-top: 0;}
                50%{margin-top: -10px;}
                100%{margin-top: 0;}
            }
            span{font-size: 12px; color: rgba(255,255,255,0.7);
                b{display: block; font-size: 16px; color: #fff;}
            }
        }
    }
}






// 레이어팝업
.layer_pop{position: absolute; left: 50%; top: 35%; z-index: 6; width: 260px; background: #fff; padding: 20px 25px; border-radius: 10px; margin-left: -130px; box-shadow: 0 0 10px rgba(0,0,0,0.4); display: none;
    a{line-height: 40px; background: url(../images/icon_arrow.png) no-repeat right  center / 9px auto; padding-right: 20px;
        span{display: inline-block; width: 30px; height: 30px; font-size: 14px; line-height: 30px; border-radius: 30px; text-align: center; margin-top: 5px;}
    }
    &.active{display: block;}
}



#contents {//common.html 파일 보시고 content 패딩을 어떻게 할지 생각해주세요.
}
.bg{height:calc(100vh - 50px);background: #e7f8fa; border-radius: 30px 30px 0 0;}
.container {padding:0 15px;}




/*버튼스타일*/
.btn_ok{color: #fff; background-color: #3cc9c5; font-size: 16px; height: 44px; line-height: 44px; text-align: center; border-radius: 6px; display: block;}
.btn_top {padding:11px 15px 0;background-color:#fff;}
.fx_gw1 {flex-grow: 1;}
.fx_gw2 {flex-grow: 2;}
.btn1{width:100%;text-align:center;color:#393939;border:$border3;border-radius:3px;height:36px;background-color:#fff;line-height:38px;
    img {width:10px;vertical-align:0;}
}
.btn2 {width:100%;text-align:center;color:$color1;border:1px solid $color1;border-radius:3px;height:36px;background-color:#fff;line-height:38px;}
.btn_blue {color:#4e8be5;background-color:#bfd8ff;}
.btn_purple {color:#725ef2;background-color:#dad5ff;}
.btn_green {color:#3c96a4;background-color:#c2e8ee;}
.btn_red {color:#ff7373;background-color:#ffd7d7;}
.mark {display:inline-block;height:25px;line-height:28px;color:#fff;background-color:$color1;text-align:center;padding:0 10px;font-size:14px;border-radius:3px;vertical-align:middle;
    img {width:10px;vertical-align:-1px;}
}
/*검색 폼*/
.form_sch {padding-top:6px;margin-bottom:20px;}

/*인풋 리스트*/
.inp_list {
    > li {margin-top:15px;
        .tit_md + span {font-size:15px;color:#b0b0b0;display:block;margin-bottom:5px;}
        .inp + .inp {margin-top:5px;}
        .inp + .mark {margin-top:5px;float:right;}
        &:first-of-type{margin-top:0;}
       
        .btn {margin-left:8px;border-radius:3px;height:25px;line-height:26px;border:$border2;width:41px;color:#393939; font-size:14px; text-align:center;}
        
       
    }
}

/*목록 정렬 버튼*/
.sort {
    text-align:right;margin-bottom:8px;
    button {position:relative;padding-right:13px;background:url(../images/icon_sort_down.png) no-repeat right top 7px/6px auto;padding-left:17px;margin-left:14px;height:22px;
        &.active {background-image:url(../images/icon_sort_up.png);}
        &:before {position:absolute;left:0;top:50%;margin-top:-8px;width:1px;height:12px;background-color:#dadfe2;content:'';}
        &:first-of-type{padding-left:0;
            &:before {content:none;}
        }
    }
}




.sch_list {
    > li {position:relative;margin-bottom:10px;border-radius:7.5px;
        background-color:#fff;padding:15px;
        span {display:block;color:#9b9fa3;margin-top:4px;}
        > ul {margin-top:10px;
            li {float:left;width:55px;text-align:center;margin-right:5px;line-height:33px;height:30px;border-radius:3px;
                
            }
        }
        > dl {line-height:25px;margin-top:10px;
            dt {float:left;clear:both;color:#9b9fa3;}
            dd{float:right;text-align:right;
                button {margin-left:8px;border-radius:3px;height:25px;line-height:26px;border:$border2;width:41px;color:#393939; font-size:14px; text-align:center;}
            }
        }
        > strong {position:absolute;right:15px;top:13px;color:#fff;background-color:#0e3462;border-radius:25px; font-size:14px;padding:0 14px;padding-top:2px;line-height:25px;height:25px;}
        > a {margin-top:10px;border:$border2;border-radius:3px;text-align:center;line-height:34px;height:36px;padding-top:2px;color:#393939;}
    }
    &.type2 {padding:0 15px;
        + .bg_white {margin-top:26px;}
    }
}

//흰배경 컨텐츠
.bg_white {background-color:#fff;padding:24px 15px 25px;margin-bottom:26px;
    .textarea {margin-bottom:8px;
        textarea {resize:none;}
    }
}

.add {background-color:#f0f4f7;padding:0 15px;}

//상세 목록 정보
.info {padding-top:20px;padding-bottom:15px;
    > span {display:block;color:#9b9fa3;margin-top:4px;}    
    > ul {margin-top:10px;
        li {float:left;width:55px;text-align:center;margin-right:5px;line-height:33px;height:30px;border-radius:3px;
            
        }
    }
    > dl {line-height:25px;margin-top:15px;
        dt {float:left;clear:both;width:90px;color:#9b9fa3;margin:3px 0;}
        dd{float:right;width:calc(100% - 90px);text-align:right;margin:3px 0;
            button {margin-left:5px;border-radius:3px;height:25px;line-height:26px;border:$border3;width:41px;color:#393939; font-size:14px; text-align:center;}
        }
        + dl {border-top:$border1;padding-top:15px;}
    }
    .mark {margin-left:7px;}
}


// 품목추가
.proc_list {margin-bottom:26px;padding:0 15px;background-color:transparent;
    > ul {
        > li {background-color:#fff;margin-bottom:10px;border-radius:8px;padding:15px 17px;position:relative;
            &.null {text-align:center;padding-top:20px;}
            ol {margin:15px 0;
                li {position:relative;float:left;color:#9b9fa3;text-align:center;width:33%;
                    b {display:block;font-size:18px;font-weight:500;color:#000;margin-top:8px;}
                    &:after {content:'';background-color:#efefef;width:1px;height:40px;position:absolute;right:0;top:50%;margin-top:-20px;}
                    &:last-of-type{width:34%;
                        &:after {content:none;}
                    }
                }
            }
            .btn_more{position:absolute;right:10px;top:18px;
                > button {width:14px;height:19px;background:url(../images/btn_more.png) no-repeat center/3px auto;}
                ul {display:none;box-shadow:0 0 8px 0 rgba(0,0,0,0.15);border-radius:8px;width:95px;overflow:hidden;position:absolute;right:0;top:0;
                    li {border-bottom:1px solid #f0f0ef;
                        button {height:47px;line-height:49px;text-align:center;width:100%;color:#000;font-size:17px;background-color:#fff;}
                        &:last-of-type{border-bottom:0;}
                    }
                }
            }
        }
    }
    
}

