
.page_spot {position:relative;margin-top:110px;
  .tit_bg{ height: 300px;
    > img{ width: 100%;height: 100%; object-fit: cover;
    }
  }
  .page_title {position: absolute; left: 34%; top: 100px;
    height:75px;display:flex;text-align:center;
    span {display:table-cell;vertical-align:middle;font-size:36px;font-family:$ff-score;
      b {font-weight:500;}
      em {display:block;font-size:18px;margin-top:-4px;margin-left:-17px;}
    }
  }
  
  &.bg1 {
    .page_title {text-shadow:0 0 2px rgba(0,0,0,0.55);color:#fff;left: 47%;}
  }
  &.bg2 {
    .page_title {left: 47%;}
  }
  &.bg3 {color:#001959;background-size:auto 300px;}
  &.bg4 {color:#fff;
    .tit_bg{
      >img{height: 364px;}
    }
  }
  &.bg5 {color:#00186f;
    .tit_bg{
      >img{height: 364px;}
    }
    .page_title{
      em{margin-left: -40px;}
    }
  }
  &.bg6 {color:#fff;
    .tit_bg{
      >img{height: 364px;}
    }
  }
  &.bg7 {
    .tit_bg{
      >img{height: 364px;}
    }
  }

  .lnb {height:64px;line-height:62px;border-bottom:1px solid #c2c2c2;position:relative;padding-top:1px;color:#666;
    &:before {content:'';position:absolute;left:0;top:0;width:100%;height:1px;background-color:#c2c2c2;z-index:-1;}
    .home {float:left;width:65px;height:62px;border-left:1px solid #c2c2c2;border-right:1px solid #c2c2c2;background:url(../images/lnb_home.png) no-repeat 50% 50%;}
    .menu {float:left;border-right:1px solid #c2c2c2;font-size:14px;position:relative;
      .btn {text-align:left;width:260px;height:62px;padding:0 40px 0 30px;color:#666;background: url(../images/lnb_arrow_down.png) no-repeat right 24px center;
        &.active {background-image:url(../images/lnb_arrow_up.png);}
      }
      > ul {display:none;position:absolute;left:-1px;top:100%;width:calc(100% + 2px);border:1px solid #c2c2c2;text-align:left;font-size:14px;background-color:#fff;z-index:1;
        > li {border-bottom:1px solid #c2c2c2; background: #fff; 
          > a {padding:0 30px;line-height:40px; color: #666666;}
          &:last-of-type{border-bottom:0;}
        }
      }
    }
  }
  @include maxWidth(1080px){margin-top: 87px;
    .page_title {left: 22%;}
    &.bg1, &.bg2 {
      .page_title {left: 43%;}
    }
  }
  @include maxWidth(720px){
    .tit_bg{
      > img{ object-fit: unset;
      }
    }
    .page_title { left: 10%;
      span{font-size: 32px; font-weight: 500;
        em{font-size: 16px;}
      }
    }
    &.bg1{
      .tit_bg{
        > img{ content: url(../images/m_bg_visual1.png);
        }
      }
    }
    
    &.bg2 {
      .tit_bg{
        > img{ content: url(../images/m_bg_visual2.png);
        }
      }
      .page_title {text-align: left; top: 130px; left: 3%;
        span{
          em{margin-left: 3px;}
        }
      }
    }
    &.bg3 {
      .tit_bg{
        > img{ content: url(../images/m_bg_visual3.png); 
        }
      }
    }
    &.bg4 {
      .tit_bg{
        > img{ content: url(../images/m_bg_visual4.png); 
        }
      }
      .page_title {top: 130px; left: 35%;color:#001959;
        span{
          em{margin-left: 0;}
        }
        +.lnb{margin-top: 65px;}
      }
    }
    &.bg5 {
      .tit_bg{
        > img{ content: url(../images/m_bg_visual5.png); 
        }
      }
      .page_title { padding-left: 20px; color:#001959; top: 140px; left: 5%;
        span{
          em{margin-left: -42px;}
        }
        +.lnb{margin-top: 65px;}
      }
    }
    &.bg6 {
      .tit_bg{
        > img{ content: url(../images/m_bg_visual6.png); 
        }
      }
    }
    &.bg7 {
      .tit_bg{
        > img{ content: url(../images/m_bg_visual7.png); 
        }
      }
      .page_title {
        span{
          em{margin-left: -83px;}
        }
      }
    }
    .lnb{height: 57px; line-height: 57px; margin-bottom: 116px; margin-top: 40px;
      .home{border-bottom: 1px solid #c2c2c2; height: 113px; width: 56px; background-color: #fff;}
      .menu{width: calc(100% - 56px);height: 56px;
        .btn{font-size: 17px; height: 56px; width: 100%; background-position: center right 20px;}
        > ul{
          > li{
            >a{padding: 0 20px; line-height: 50px;font-size: 17px;}
          }
        }
      }
      &::after{content: ''; position: absolute; left: 0; bottom: -58px; width: 100%; height: 1px; background-color: #c2c2c2; z-index: -1;}
      
      &.type1{ margin-bottom: 58px;
        .home{height: 56px; line-height: 56px;}
        &::after{display: none;}
      }
    }
  }
  @include maxWidth(480px){
    &.bg4 {
      .page_title {left: 25%;}
    }
  }
}

.quick_menu {position:absolute;right:0;top:213px;width:80px;z-index:1;transition:top 1s;
  > li {
    > a {height:80px;display:table;width:100%;padding-bottom:10px;text-align:center;
      span {display:table-cell;vertical-align:bottom;color:#fff;font-size:12px;letter-spacing:-0.05em;line-height:14px;
        img {display:block;margin:0 auto 6px;}
      }
    }
    &:nth-of-type(odd){background-color:#66daff;}
    &:nth-of-type(2n){background-color:#9cb6ff;}
    &:hover{background-color:#2a4ed0;}
  }
  @include maxWidth(1080px){display: none}
}

/*공통*/
/*컨텐츠 간격*/
.con {@include clear; width:100%;margin-top:60px;
  @include maxWidth(1080px){
    margin-top: 45px;
  }
}

.head {width:100%;margin-bottom:10px;display:flex;justify-content:space-between;align-items:center;
  @include maxWidth(1080px){display: block;
    &.type1{display:flex;}
  }  
 
}


.tit_lg {font-size:30px;font-weight:500;margin:-0.2em 0;}
.tit_sm {font-size:18px;font-weight:500;margin:-0.2em 0; color: #444;line-height: 36px;}
.tit_xs {font-size:16px;font-weight:500;margin:-0.2em 0; color: #444;line-height: 30px;}
.tit_md {font-size:24px;font-weight:500;margin:-0.2em 0;
  .rqd  {margin-left:10px;}
  + .table {margin-top:20px;}
  @include maxWidth(1080px){ position: relative; font-size: 22px;
  .rqd{position: absolute; right: 3px; top: 15px; font-size: 16px;}
  }
}
.rqd {font-size:14px;
  &:before {content:'*';color:#ff5555;font-size:14px;vertical-align:-3px;margin-left:-7px;margin-right:2px;
  }
}
/* boder-none  추가*/
.bon{border: none !important;}

/* 버튼 오른쪽 정렬 > 모바일에서 센터 */
.txtr{@include clear;
    div{float: right;}
    @include maxWidth(1080px){
      >a{margin: auto; display: block; width: 180px; margin-bottom: 25px;}
      >div{text-align: center; float: unset;
        a{margin: 0 10px ;}
      }
    }
}


/*탭메뉴*/
.tab_menu {margin-bottom:30px; overflow: hidden;display:table;border-collapse: separate; text-align:center;line-height:20px;
  li {display:table-cell;width:240px;vertical-align:middle;background-color:#bccaff;word-break: keep-all; 
    > a {height:100%;display:table;width:100%;height:42px;padding:7.5px;
      span {display:table-cell;vertical-align:middle;}
    }
    &.active {color:#fff;background-color:$color1;}
  }
/* 모바일에서 스와이프 */
  @include maxWidth(1080px){font-size: 17px; display: flex; 
    li{display:block;width:200px;
      a{width: 214px;}
    }
  }
}
/* 스와이프 X */
.tab_menu2 {margin-bottom:30px; overflow: hidden;display:table;border-collapse: separate; text-align:center;line-height:20px;
  li {display:table-cell;width:240px;vertical-align:middle;background-color:#bccaff;word-break: keep-all; 
    > a {height:100%;display:table;width:100%;height:42px;padding:7.5px;
      span {display:table-cell;vertical-align:middle;}
    }
    &.active {color:#fff;background-color:$color1;}
  }
}

/*보더박스*/
.bd_box {position:relative;line-height:1.5;
  border:8px solid #dddddd;padding:20px 30px;font-weight:500;background-color:#fff;
  > img {position:absolute;left:33px;top:23px;
    + div {padding-left:100px;}
  }
  h3{font-weight: 500; margin-bottom: 10px;}
  &.type2{
    border:1px solid #999; padding: 20px;
    > img{left: 20px;
      + div{padding-left: 85px;}
    }
  }
  @include maxWidth(1160px){
    .bd_inp{
      *{width: 100%;display: block; margin-left: 0;}
      .inp, .select{width: 100%;max-width: 100%; margin-bottom: 20px;}
    }
  }
  @include maxWidth(720px){ font-size: 14px; padding: 10px;     border: 6px solid #dddddd;
    > img { width: 45px; left: 10px; top: 10px;
      + div {padding-left:55px !important;}
    }
    &.type2{
      > img{ top: 20px;}
    }
  }
  
}

/*동의박스*/
.agree_box {
  .scroll_box {border:1px solid #999;overflow-x:hidden;overflow-y:auto;height:247px;padding:20px;background-color:#fff;
    &.h160{height: 160px;}
  }
  .chk_box {border:1px solid #999;border-top:0;padding:19px 20px;background-color:#eee;
    label {font-size:16px;line-height:20px;}
  }
}

/*전체동의*/
.chk_box_total {text-align:center;margin-top:40px;padding-bottom:20px;
  input[type] + label {font-size:16px;}
}

.br {margin-top:1em;}
.br2 {margin-top:2em;}
.br3 {margin-top:3em;}
/*리스트*/
.bar {
  > li {position:relative;padding-left:9px;
    &:before {content:'-';position:absolute;left:0;top:-1px;}
    &.ref {padding-left:14px;
      &:before {content:'※ ';position:static;}
    }
  }
}
.bar2 { /* 혜진추가 */
  > li {position:relative;padding-left:24px;
    &:before {content:'';position:absolute;left:0;top: 10px; background-image: url(../images/bar2.png);  width: 14px; height: 3px;}
    &.ref {padding-left:14px;
      &:before {content:'※ ';position:static;}
    }
  }
}
.dot2 {
  > li {position:relative;padding-left:25px;
    &:before {content:'▶';position:absolute;left:0;top:0;}
    &.ref {padding-left:14px;
      &:before {content:'※ ';position:static;}
    }
  }
}
.dot3 { /* 혜진추가 */
  > li {position:relative;padding-left:12px;
    &:before {content:'';position:absolute;left:0;top: 10px; background-color: #567eff; border-radius: 50%; width: 5px; height: 5px;}
    &.ref {padding-left:14px;
      &:before {content:'※ ';position:static;}
    }
  }
}
.dot4 { /* 혜진추가 */ position:relative;padding-left:32px; 
    &:before {content:'';position:absolute;left:0;top: 5px; background: url(../images/dot4.png) no-repeat;  border-radius: 50%; width: 20px; height: 20px;}
  
}

/*당구장표기*/
.ref {padding-left:14px;
  &:before {content:'※ ';margin-left:-14px;}
}

/* 접수증 출력 btn */
.print_btn{background: url(../images/icon_btn_print.png) no-repeat center left 30px; padding-left: 30px;}

/* 중요표시  혜진추가*/
.impor{ background: #567eff; color: #fff;font-size:14px;display: inline-block; min-width:83px;border-radius:15px; line-height:26px; height:26px; text-align: center;padding: 0 13px;}

/*테이블*/
.table {margin:10px 0;text-align:left;
  .control {display:none;text-align:center;margin:20px auto 10px;
    > :nth-child(n) {display:inline-block;vertical-align:middle;}
    .prev {width:50px;height:50px;background: url(../images/m_table_prev.png) no-repeat center;  background-size: 30px auto;}
    .pagination_num {font-size:20px;width:100px;color:#999999;
      .current {color:#444;}
    }
    .next {width:50px;height:50px;background: url(../images/m_table_next.png) no-repeat center;  background-size: 30px auto;}
  }
  &.ta_c,.ta_c {text-align:center;}
  .pd40{padding: 40px 0;} //혜진추가
  .ta_r {text-align:right;}
  .ta_l {padding-left:30px;text-align:left;}
  .null{text-align: center; height: 110px; color: #999999;}
  .m_view{display: none;}
  table {background-color:#fff;border-top:2px solid $color1;font-size:14px;font-weight:500;}

  th,td {border-bottom:1px solid #999;padding:10px 20px;height:52px;line-height:18px;
    &:first-child {border-left:0;}
    &:last-child {border-right:0;}
    &.h25{height: 25px; padding: 0;}
  }
  th.rqd {
    &:before {content:'*';color:#ff5555;font-size:14px;vertical-align:-3px;margin-left:-7px;margin-right:2px;
    }
  }
  thead {background-color:#eee;text-align:center;}
  tbody {
    th {background-color:#eee;padding:10px 15px;text-align:center;
      //&.ta_l {padding-left:48px;}
    }
  }
  tfoot {background-color:#ffdcdc;
    th {background-color:#ffc4c4;}
  }
  &.scr {overflow-x:auto;overflow-y:hidden;
    table {min-width:1000px;margin-top:1px;}
  }
  &.tableA.mobileT {
     tbody {
      > tr {display:table;width:100%;
        > th {
          width: 140px;
        }
        
        > th.hidden {
          display: none;
        
          +td {
            display: table-row;
            width: 100%;
            border-left: 0;
            border-right: 0;
        
            >span,
            >div {
              display: table-cell;
              padding: 8px;
            }
        
            >span {
              width: 140px;
              text-align: center;
              background-color: #eee;
              border-right: 1px solid #ccc;
              ;
            }
        
          }
        }
      }
        
    }
  }
  &.tableB.mobileT {
    .control {display:block;}
    table {display:block;border:0;}
    colgroup {display:none;}
    thead {display:none;}
    tbody {display:block;
      tr {
        display: block;border-top:2px solid #567eff;margin:10px auto;width: 100%;
        td {
          display: table;width: 100%;border: 0;border-bottom:1px solid #999;
          height:47px;
          >span,
          >div {
            display: table-cell;padding-top:10px;padding-bottom:10px;
            vertical-align:middle;
          }
        
          >span {min-width:160px;background-color:#eee;color:#444;font-weight:500;font-size:17px; text-align:center;padding:0 10px; 
          }
          > div {width:100%;padding-left:30px;padding-right:10px;text-align:left;line-height:1.3;}        
        }
      }   
    }
  }
  @include maxWidth(1080px){ width: 100%;
    /* 모바일에서 tit_sm이 table 밖으로 빠질떄 */
    /* &.m_type2{ 
      margin-top: 56px; 
      tr{position: relative;
        th{
          &.tit_sm{position: absolute;border: none;background: none;top: -35px;
            left: 0;display: block; content: '';width: 100% !important;
            font-size: 18px;text-align: left;padding: 0; height: 35px;
          }
        }
      }
    } */
    table{
      colgroup{display: none;}
    }
    .ta_l{text-align: center;padding-left: 0;}
    .m_view{width: 100%; display: block;} /* 모바일에서 나타남 */
    .m_none{display: none;}/* 모바일에서 사라짐 */
    th{height: 46px; line-height: 26px;}
    td{height: auto; padding: 10px 0;
      &.m_block{ 
        div{ position: relative;
          >div {width: 100%;max-width: 100%;flex: auto; margin:0 0 20px 0;position: relative;
            &::after{content:'';display: block; width: 100%; height: 1px; background: #999999; position: absolute;  left: 0; bottom:-12px;}
          }
          div:last-of-type{margin:0;
            &::after{display: none;}
          }
          ~.txt2{position: absolute; right: 0; bottom: -40px;}
        }
      }
      &.paw{ text-align: center; margin: auto; 
        label{margin: auto; margin-bottom: 10px;}
      }
      .txt{text-align: left;font-size: 16px;}
      &.txtc{text-align: center;}
    }
    th,td{display: block;margin: auto; font-size: 17px;
      .select,.inp_set,.inp{max-width: 100%;}
      .inp_set{
        &.type2{ /* width:50% */
          >div{width: 50%; text-align: center; margin: auto;
            .inp{width: auto;}
            &:first-child, &:nth-child(2){margin-bottom: 10px;}
          }
        }
      }
      .inp + .txt{display: none; }
    }
    tr{ /* 전체인명피해현황 */
      &.type3{
        th, td{float: left; width: 50% !important;}
        .inp{max-width: 120px; width: auto;}
      }
    }
  }
  @include maxWidth(560px){
    .inp_set{
      &.type2{ 
        >div{
          .inp{width: 75px !important;}
        }
      }
    }
  }
}

/*버튼*/
.btn_box {margin-top:40px;text-align:center;font-size:0;
  .btn1 {margin:0 20px;}
  .btn2 {margin:0 10px;}
  &.bor{border-top: 1px solid #aaa;padding-top: 40px;margin-top: 60px;}
  @include maxWidth(1080px){
    .btn1{
      min-width: 160px;max-width: 160px; line-height: 43px; font-size: 17px;
    }
  }
  @include maxWidth(720px){
    .btn1{
      &.btn_block{display: block; margin: auto; margin-top: 20px;} 
    }
    
  }
  @include maxWidth(436px){
    .btn1{ min-width: 122px; line-height: 35px; font-size: 15px;}
  }
}

.fs16{font-size: 16px !important;} 
.fs18{font-size: 18px !important;} 

.btn1 {background-color:$color2;color:#fff;line-height:48px;min-width:180px;border-radius:48px;font-size:18px;text-align:center;font-weight:500;display:inline-block;
  img {vertical-align:middle;margin-right:8px;}
  &.mw250{min-width: 250px;}

  @include maxWidth(1080px){/*  min-width: 200px;max-width: 200px; */ line-height: 43px; 
    &.block{display: block; margin: auto; min-width: 160px;max-width: 160px;}
  }
  @include maxWidth(460px){ min-width: 122px; line-height: 35px; font-size: 15px;}
}
.btn2 {background-color:$color1;color:#fff;line-height:40px;min-width:142px;border-radius:40px;font-size:18px;text-align:center;font-weight:500;display:inline-block;
  
}
.btn3 {background-color:$color2;color:#fff;line-height:36px;min-width:160px;border-radius:36px;font-size:16px;text-align:center;font-weight:500;display:inline-block;padding:0 20px;
  
}
.btn4 {background-color:$color2;color:#fff;line-height:42px;min-width:131px;border-radius:5px;font-size:16px;text-align:center;font-weight:500;display:inline-block;
}

.btn5 {display:inline-block;height:31px;line-height:29px;border-radius:9px;padding:0 13px;min-width:91px;border:1px solid #999;background-color:#ddd;}

.btn6 {display:inline-block;vertical-align:top;min-width:104px;border-radius:4px;color:#fff;text-align:center;color:#fff;height:33px;line-height:33px;font-size:14px;background-color:$color2;}


/*로그인 및 회원가입_로그인*/
.login_box {border:1px solid #cccccc;width:calc(50% - 15px);
  .box1 {padding:29px 29px 24px;height:241px;}
  .box2 {display:table;width:100%;border-top:1px solid #ccc;height:100px;padding:0 29px;text-align:left;font-size:14px;
    span {display:table-cell;vertical-align:middle;
      &.btn_group {text-align:right;white-space:nowrap;
        .btn4 {margin-right:20px;
          &:last-of-type{margin-right:0;}
        }
      }
    }
    &.bg {background-color:#eee;}
  }
  .head {margin-bottom:20px;}
  .inp_wrap {position:relative;
    padding-right:114px;
    .inp {margin-bottom:10px;
      input {line-height:40px;height:40px;}
      &:last-of-type{margin-bottom:0;}
    }
    .btn {position:absolute;right:0;top:0;width:94px;height:100%;text-align:center;color:#fff;border-radius:7px;font-weight:600;background-color:$color2;
      &:before {content:'';display:inline-block;height:100%;vertical-align:middle;}
    }
  }
  .chk_box {margin-top:16px;}
  .onepass {display:inline-block;margin-bottom:30px;margin-top:12px; background: #1a2674; color: #fff; border-radius: 10px; width: 285px; padding: 13px 0; font-size: 19px; font-weight: 500;
    + p {font-size:14px;line-height:18px;}
  }
  &.lt {float:left;}
  &.rt {float:right;
    .box1 {text-align:center;}
  }
  @include maxWidth(1080px){
    .box1 {height:100%;     padding: 16px 20px 24px;}
    .box2{padding: 25px 20px;
      span{display: block; width: 100%; text-align: center; margin: auto;
        &.btn_group {text-align:center;
          .btn4 {margin-right:0; display: block;
            &:first-of-type{margin-top:30px;}
            &:last-of-type{margin-right:0; margin-top: 15px;}
          }
        }
      }
    }
    &.lt, &.rt {float:unset;margin: auto; width: 100%;}
    &:first-child{margin-bottom: 45px;}
    .inp_wrap {padding-right:0;
      .inp {
        input {line-height:38px;height:38px;}
        &:last-of-type{margin-bottom:10px;}
      }
      .btn {position:unset;width:auto;height:38px; margin: auto; display: block; line-height: 38px;}    
    }
    .onepass{width: 100%;}
  }
}


/*비밀번호 찾기*/
.find_pw {text-align:center;margin-top:30px;
  .inp_set {
    label {margin-right:20px;font-weight:500;}
    .inp {width:170px;}
    input {text-align:left;}
  }
  .certification {margin-top:60px;font-size:0; @include clear;
    > div {width:180px;float: left; width: 50%;
      .icon {margin: auto;width:180px;height:180px;background-color:#eee;border-radius:10px;text-align:center;margin-bottom:16px; 
        &:before {content:'';display:inline-block;height:100%;vertical-align:middle;}
        img {vertical-align:middle;}
      }
    }
  } 
  @include maxWidth(720px){
    .inp_set { display: block;
      label {display: block;}
      .inp {margin: auto; width:auto; display: block;  max-width: 500px; }
    }
    .certification{
      >div{
        &:first-child{margin-left: -10px;}
        &:last-child{margin-right: -10px; float: right;}
      }
    }
  }
  @include maxWidth(460px){
    .certification{
      >div{
        .icon{width: 150px; height: 150px;}
        &:first-child{margin-left: 0;}
        &:last-child{margin-right: 0;}
      }
    }
  }
}

/*휴면계정*/
.sleep_account {max-width:800px;margin:auto;
  > p {text-align:center;
    &.ref {text-align:left;}
  }
  .table {margin:26px 0 15px;
    th {text-align:center;}
    td {padding:20px 0 20px 20px;}
  }
  .br {margin-top:10px;display:block;}
  .btn_group {margin-top:25px;font-size:0;
    a {margin-right:30px;
      &:last-of-type{margin-right:0;}
    }
  }
  @include maxWidth(1080px){
    .table {
      td {padding:20px;}
    }
    .btn_group {
      a { margin-right: 0; display: block; width: 100%; margin-bottom: 20px;
        &:last-of-type{margin-bottom:0;}
      }
    }
  }
}

/*회원가입 단계*/
.join_step {font-size:0;max-width:932px;margin:auto;width:100%;    text-align: center;color:#666;
  &.wait {
    max-width:1190px;
    > li {
      width:13.2773%;
      padding-top:13.2773%;
      margin-right:8.403%;
    }
  }
  > li {display:inline-block;vertical-align:top;width:16.95%;margin-right:10.73%;height:0;padding-top:16.95%;border-radius:158px;box-shadow:inset 0 0 0 6px #ddd;text-align:center;background-color:#fff;position:relative;
    &:after {content:'';width:27px;height:44px;position:absolute;right:-32.2784%;top:50%;transform:translate(50%,-50%);background:url(../images/arrow_join_step_off.png) no-repeat 50% 50%;}
   > div {position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);font-size:24px;width:100%;
    b {font-weight:600;}
    em {font-size:16px;display:block;font-weight:500;}
   }
   &:last-of-type{margin-right:0;
    &:after {content:none;}
  }
   &.active {
     color:#fff;box-shadow:inset 0 0 0 6px #8aa9ff;background-color:#8aa9ff;
     &:after {background-image:url(../images/arrow_join_step_on.png);}
   }
  }
  @include maxWidth(930px){
    display: none
  }
}

/*회원가입 본인인증*/
.join_certification {@include clear; text-align:center;padding:20px 0 43px;
  .certification {
    .tit_lg {
      + p {color:#666;font-size:14px;margin-bottom:32px;margin-top:3px;}
    }
    > div {width:50%;float:left;text-align:center;padding:0 20px;
      .icon {max-width:180px;height:180px;margin:auto;background-color:#eee;border-radius:10px;text-align:center;margin-bottom:16px;
        &:before {content:'';display:inline-block;height:100%;vertical-align:middle;}
        img {vertical-align:middle;}
      }
    }
  }
  /* .one_pass {float:right;width:393px;text-align:center;position:relative;
    p {color:#666;font-size:14px;line-height:18px;margin-top:23px;}
    img {margin:52px auto 38px;display:block;}
    &:before {content:'';width:1px;height:calc(100% - 60px);background-color:#999;top:30px;position:absolute;left:0;}
    
  } */
}

/* 게시판 상세 */
.board_detail{
  .bo_head{
    h2{ border-top: 2px solid #567eff;border-bottom: 2px solid #567eff; padding: 10px 29px ; display: table;@include clear; width: 100%;
      span{margin-right: 30px; display: table-cell; float: left;vertical-align: middle;}
      em{display: table-cell;vertical-align: middle;}
    }
    >div{padding: 20px 30px; @include clear;
      b{float: left;font-size: 14px; color: #444444;}
      ul{float: right;
        li{width: 54px ;height: 21px; float: left;
        }
        .share{background: url(../images/share.png) no-repeat center;}
        .print{background: url(../images/print.png) no-repeat center;}
      }
    }
  }
  .bo_file{ background: #eeeeee;  color: #222; font-weight: 500;
    td{padding: 20px 30px;
      a{margin-bottom: 20px; font-size: 14px; @include clear; display: table;
        img{margin-right: 10px; display: table-cell;width: 24px; float: left; margin-right: 10px;}
        span{display: table-cell; vertical-align: middle;}
        &:last-child{margin-bottom: 0;}
      }
    }
  }
  .bo_con{ padding: 20px 30px;line-height: 36px;font-size: 14px; /* border-bottom: 1px solid #aaaaaa; */}
  .bo_answer{background: #eeeeee; padding: 30px 30px 60px 30px; font-size: 14px; line-height: 36px;}

  @include maxWidth(600px){
    .bo_head{
      h2{padding: 10px;
        span{margin-right: 15px; margin-top: 7px;}
      }
      >div{padding: 10px;}
    }
    .bo_file{
      td{padding: 10px 15px;}
    }
  }
}
.bo_pagination{ width: 100%; margin-top: 40px; @include clear;border-top: 1px solid #aaaaaa; border-bottom: 1px solid #aaaaaa;
  a{ width: 50%; font-size: 14px; height: 51px; line-height: 51px;
    *{padding: 0 35px; }
    b{width: 110px; background: #eeeeee; display: inline-block; color: #222; font-weight: 500; overflow: hidden;}
    span{color: #444; display: inline-block;width: calc(100% - 110px); @include ell1;}

  }
  .next{float: left;
    span{border-right: 1px solid #aaa;}
  }
  .prev{float: right;}
  @include maxWidth(720px){
    a{
      span{padding: 0 10px;}
    }
  }
}

/* 전문용어사전 */
.word{margin: 0 -15px -10px -15px;
  li{ float: left; width: calc(20% - 30px); border: 1px solid #ccc; border-radius: 8px; margin: 10px 15px; 
    a{padding: 20px; font-size: 14px;
      b{font-size: 18px; line-height: 14px; display: block}
      span{@include ell6; display: block; margin-top: 27px; height: 107px; line-height: 18px;}
      em{color: #909090; display: block; margin-top: 38px; line-height: 14px;}
    }
  }
  @include maxWidth(1080px){
    li{width: calc(50% - 30px);
      &:nth-child(2n+1){clear: both;}
    }
  }
}

 /*드롭다운 리스트*/
 .list_dropdown {border-top:2px solid #567eff;font-size:14px;
  ol{border-bottom: 1px solid #aaa; color: #222; font-weight: 500;
    li{text-align: center; height: 53px; line-height: 53px;
      &:first-child{width: calc(100% - 120px); float: left;}
      &:nth-child(2){width: 120px; float: right;}
    }
  }
  dt,dd {border-bottom: 1px solid #aaa;}
  dt {
      a {display:block; width:100%;padding:12px 120px 12px 50px ; line-height: 28px;position:relative; background: url(../images/icon_file_doc.png) no-repeat center right 45px;
          > em {position:absolute;width:20px;height:25px;left:15px;top:12px;background: url(../images/Q.png) no-repeat center;overflow:hidden;text-indent:42px;}
          span{@include ell1;display: block;}
      }
  }
  dd {display:none;font-size:16px; background: #eeeeee;
      > div {line-height: 24px; padding-top:40px;padding:34px 80px 34px 94px;position:relative;
        > em {position:absolute;width:42px;height:42px;left:30px;top:30px;text-align:center;font-size:20px;font-weight:600;line-height:38px;background: url(../images/A.png) no-repeat center;text-indent:42px;overflow:hidden;        } 
        p{color: #666666; margin-top: 15px;
          img{margin-right: 10px;}
          span{vertical-align: middle;}
        }       
      }
  }
   @include maxWidth(720px){font-size:15px;
    ol{
      li{
        &:nth-child(2){width: 60px; }
      }
    }
      dt {           
          a {padding:20px 60px 20px 60px;background-position:right 20px center;background-size:15px auto;
            > em {top:15px;left:20px;width:30px;height:30px;line-height:26px;background-size:auto 15px;}
          }           
      }
      dd {font-size:14px;
          > div {padding:18px 40px 18px 60px;
             > em {top:15px;left:20px;width:30px;height:30px;line-height:26px;background-size:auto 15px;}
             p{
              img{width: 15px}
            }       
          }
      }
  } 
}

/* 민원상담, 시스템 개선제안 */
.complain{ @include clear;
  .file_list{ float: left; width: 79px; margin-right: 20px; margin-bottom: 3px;
    li{
      a{color: #444;}
    }
  }
  .file{width: calc(100% - 79px); max-width: 418px; float: left;}
  tr{
    td{ @include clear; padding: 10px;
      >span{float: right; line-height: 28px; margin-left: 20px;}
    }
    &:first-child{ border-bottom: 2px solid #2a4ed0;}
    &:last-child{
      td{padding-right: 0;}
    }
  }
  @include maxWidth(1080px){
    tr{
      &:last-child{
        td{height:  auto;
          >span{width: 100%; display: block; margin-left: 0px; font-size: 14px;}
        }
      }
    }
  }
}

/* 사이트맵 */
.sitemap{margin: 0 -26px; @include clear;
  >li{ float: left; width: calc(25% - 52px); margin: 0 26px; margin-bottom: 100px;
    > a{text-align: center;border-radius: 30px; padding: 10px 0; color: #fff; font-size: 24px; background-color: #567eff; margin-bottom: 18px;}
    >ol{padding-left: 45px;
      li{
        a{margin-bottom: 20px;}
      }
    }
  }
  @include maxWidth(1300px){margin: 0 -20px;
    >li{width: 50%; width: calc(50% - 40px); margin: 0 20px;
      >a{font-size: 20px;}
      >ol{padding-left: 20px;}
      &:nth-child(2n+1){clear: both; }
    }
  }
}
/* 누리집 */
.nuri{
  .bo_info{margin-top: 0;font-size: 18px;}
  tr{
    td{@include clear;
      ul{float: left; width: 25%;  padding: 10px 30px 45px 30px;}
    }
    &:nth-child(2){
      td{ border-bottom: none; line-height: 24px; }
    }
  }
  @include maxWidth(1080px){
    .bo_info{margin-bottom: 0 !important;}
    tr{
      td{
        ul{width: 100%; padding-top: 0; padding-bottom: 0;}
        &:nth-child(even){padding-left: 0;}
      }
    }
  }
}

/*나의사고접수현황-사고접수번호 */
.re_num{ @include clear; border: 1px solid #ff6e47; background: #fff2d0; border-radius: 10px; padding: 20px;
  em{background: #ff9256; color: #fff; border-radius: 20px;padding: 5px 25px; height: 33px; line-height: 33px; margin: 0 20px;}
  >div{float: right;
    //>span{margin-left: 53px;}
    >button{min-width: 100px; background: #fff; border: 1px solid #999; height: 33px; line-height: 31px; padding:0 20px; border-radius: 20px; color: #222; margin-left: 20px;}
  }
  @include maxWidth(1080px){text-align: center; padding: 10px 45px;     border-radius: 5px;
    em{display: block;width: 171px; margin: 10px auto; line-height: 30px;height: 40px; }
    >div{ float: unset; 
      >span{display: block;margin: 10px auto; }
      >button{height: 40px; display: block; margin-left: 0; margin: auto;min-width: 140px;}
    }
  }
}



/* 신고서 출력 */
.print_page{ padding: 70px 60px 30px;
  h1{
    font-size: 18px; font-weight: 500;  margin: auto; text-align: center; margin-bottom: 40px;
  }
  >table{font-size: 7px;
    th{font-size: 8px;}
    td{color: #666666;}
  }
  .sign{ border-bottom: 2px solid #567eff; padding: 30px 0;
    p{text-align: center; font-size: 8px;}
    >div{ text-align: right; font-size: 7px;margin-bottom: 65px;
      >span{display: block; margin-bottom: 30px;}
      >em{
        b{margin-left: 40px ; margin-right: 15px;}
      }
    }
    >strong{font-size: 10px; font-weight: 500; color: #222; 
      em{color: #777; font-size: 7px; margin-left: 13px;}
    }

  }
  /* 접수증 */
  .sign2{border-top: 1px dashed #999999;
    h1{padding-top: 30px; padding-bottom: 40px; }
    ul{border-top: 2px solid #567eff;
      li{ float: left; width: 50%; border-bottom: 1px solid #999; 
        span{display: table-cell; font-size: 7px; width: 100px; padding: 10px; vertical-align: top;
          em{margin-left: 14px;}
        }
        b{font-size: 12px; text-align: right; display: table-cell;  }
        &:first-child,&:nth-child(3){border-right: 1px solid #999; }
      }
    }
  }
 }

 /* 위원장 소개 */
 .ceo{ @include clear;
  .ceo_img{  @include clear;
    div{ float: right;
      h3{padding-top: 120px;margin-bottom: 55px; color: #3a4e95; font-size: 40px; font-family: 'SCDream5'; letter-spacing: -5px;
        >span{color: #2a4ed0; font-family: 'SCDream6';}
      }
      >b{font-size: 24px; line-height: 36px; display: block;}
    }
    
  }
  .ceo_txt{margin-top: -160px; display: inline-block;
    >p{font-size: 16px;}
    >strong{margin-top: 40px;
      b{margin-top: 20px; font-size: 20px; display: block; font-weight: 500;}
    }
  }
  img{float: left;}
  .ceo_profile{ float: right; 
    h3{font-size: 22px; margin-bottom: 35px; font-weight: 500;}
    ul{ padding-left: 30px;
      li{margin-bottom: 15px; font-size: 16px;
        span{padding-left: 33px;}
      }
    }
    ol{ padding-left: 30px;
      > li { position:relative;padding-left:26px; margin-bottom: 28px; display: table;
          &:before {content:'';position:absolute;left:0;top: 5px; background:url(../images/dot5.png) no-repeat ;width: 14px; height: 14px;}

          b{display: table-cell;width: 220px;}
          >span{display: table-cell;}
          &:first-child{
            &::after{content: ''; position: absolute; background: #5b7fff ; height: 500px; width: 2px; top: 5px; left: 6px; z-index: -1;}
          }
          &:last-child{
            &::after{content: ''; position: absolute; background: #5b7fff ; height: 500px; width: 2px; bottom: 5px; left: 6px; z-index: -1;}
          }
        }
    }
  }
 }

 /* 찾아오시는길 */

 .map_box{margin-bottom: 60px;width: 100%; height: 450px;
  button {height:initial;line-height:initial;}
}
.map_info{
  div{ @include clear; margin-bottom: 60px;
    h3{ display: table-cell; width: 64px; margin-right: 30px; float: left; text-align: center;
      span{margin-top: 10px; display: block;}
    }
    ul{width: calc(100% - 94px); display: table-cell; 
      li{color: #666; margin-bottom: 26px; font-size: 14px; line-height: 24px;
        b{ line-height: 18px; color: #444; font-size: 18px; margin-bottom: 13px; display: block;}
        &:last-child{margin-bottom: 0;}
      }
    }
    &:nth-child(2){float: left; width: 50%;}
    &:nth-child(3){float: right;width: 50%;}
    &:nth-child(4){clear: both;  padding-top: 60px; border-top: 1px solid #ccc;
      ul{float: left; width: calc(100% - 315px);}
      .btn1{float: right; margin-top: 5px; width: 220px; height: 50px; font-size: 16px;line-height: 50px;}
    }
    
  }
  @include maxWidth(1080px){
    div{
      &:nth-child(2),&:nth-child(3){float: unset;width: 100%;}
      &:nth-child(4){
        ul{float: unset;}
        .btn1{margin: auto;display: block; float: unset; margin-top: 50px;  }
      }
    }
  }
}

/*사고접수 테이블 변환*/
.table.photo {
  .m_view {display:none;}
  @include maxWidth(1080px){
    colgroup {display:none;}
    tbody,tr,td {display:block;height:auto;}
    td {border:0;padding:0;}
    thead {display:table;width:100%;
      tr {display:table-row; 
        th:first-child {width:55px;padding:0;display: table-cell;}
        th:nth-child(2) {width:144px; display: table-cell}
      }
    }
    tbody {
      tr {@include clear;position:relative;padding: 10px 0 10px 55px; border-bottom:1px solid #999;}
      td{float:left;
        &:first-child {position:absolute;left:0;top:0;bottom:0;height:100%;width:55px;padding:0;text-align:center; 
          &:before {content:'';display:inline-block;height:100%;vertical-align:middle;}
          input {vertical-align:middle;}
        }
        &:nth-child(2){height:90px;width:154px;padding-right:10px;}
        &:nth-child(3){height:90px;width:calc(100% - 154px) !important;padding-top:25px; line-height: 27px;}
        &:nth-child(4){height:auto;margin-top:10px;width:100%;}
        .img_thumb {max-width:100%;
          &::before{background-size: 30px auto;}
        }
      }
    }
    .m_view{display: table-cell; width: auto !important;}//1080px이하에서만 보이게
    .m_none{display: none;}
    .null{padding: 25px 0; height: 67px; 
      td{width: 100% !important;}
    }
  }
  @include maxWidth(760px){
    tbody{
      td{ 
        &:nth-child(3){
          font-size: 16px; line-height: 20px; padding-top: 13px;
        }
      }
    }
  }
}

/* 220708 에러 페이지 */
.error{width: auto; background: #dcdcea; text-align: center; 
  padding-top: 37px; word-break: keep-all;  background-attachment: fixed;
  &::before{background: url(../images/error_bg_shadow.png) no-repeat center; display: block; content: ''; position: absolute;height: 85px; position: absolute; top: 435px;z-index: -1;width: 100%;max-width: 1900px;}
  p{margin-top: 5px; font-size: 18px; color: #555; }
  a{border: 1px solid #555; border-radius: 40px; max-width: 300px; margin: auto; padding: 18px 0; margin-top: 50px; font-size: 18px; margin-bottom: 50px;}
  &.nf{ padding-top: 230px;
    h2{ margin-bottom: 30px; 
      img{margin-left: 200px; display: block;}
       span{ height: 80px; line-height: 75px; font-weight: 500; font-size: 50px; background: #ea4230; color: #fff; border-radius: 40px; max-width: 455px; margin: auto;font-family: 'SCDream6';  margin-top:35px; display: block; margin-bottom: 20px;}
    }
  }
  &.se{
    h2{
      img{width: 497px; height: 597px; display: block; margin: auto;}
      span{font-size: 72px; color: #555; display: block; margin-top: -135px;}
    }
  }
  @include maxWidth(1300px){
    &.nf{ padding-top: 275px;
    
      h2{
        img{width: 850px; height: auto;margin: auto;  padding-left: 30px;}
      }
    }
  }
  @include maxWidth(1080px){ 
    &.nf{padding-top: 300px;
      h2{
        img{width: 700px; }
        span{width: 380px; font-size: 38px; height: 65px; line-height: 60px;}
      }
    }
    &.se{
      h2{
        span{font-size: 59px;}
      }
    }
  }
   @include maxWidth(720px){ 
    a{padding: 15px 0; max-width: 250px;}
    &.nf{ padding-top: 180px;
      &::before{top: 280px;}
      h2{ 
        img{width: 550px;}
        span{width: 250px; font-size: 28px; height: 50px; line-height: 50px; margin-top: 20px;}
      }
    }
    &.se{
      &::before{top: 350px;}
      h2{
        img{width: auto; height: 500px; margin-top: -10px;}
        span{font-size: 49px; margin-top: -110px;}
      }
    }
  }
  @include maxWidth(550px){
    a{max-width: 200px; padding: 12px 0;}
    p{ font-size: 16px;
      em{display: block;}
    }
    &.nf{ padding-top: 200px;
      h2{ 
        span{width: 200px; font-size: 23px; height: 45px; line-height: 45px;}
      }
    }
    &.se{
      h2{
        img{height: 450px;  margin-top: 15px;}
        span{font-size: 35px; margin-top: -100px;}
      }
    }
  } 
  @include maxWidth(400px){
    &.nf{ padding-top: 220px;}
    &.se{
      h2{ 
        img{ height: 400px; margin-top: 50px;}
        span{font-size: 30px; margin-top: -80px;}
      }
    }
  }
}